    body {
      font-family: Arial, sans-serif;
      background: linear-gradient(to right, #67b0c6, #cee3f8, #1e3c72);
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
    }
    form {
      background: linear-gradient(to bottom, #5a7fa9, #a1c7e6);
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgb(255, 255, 255);
      width: 300px;
    }
    input, button {
      width: 100%;
      margin: 8px 0;
      padding: 8px;
      border-radius: 5px;
      border: 1px solid #5474a2;
    }
    button {
      background: linear-gradient(to right, #f6f5f2, #08558d);
      color: rgb(255, 255, 255);
      border: none;
      cursor: pointer;
    }
    button:hover {
      background: linear-gradient(to right, #08558d, #f6f5f2);
    }
    #result {
      margin-top: 20px;
      font-weight: bold;
    }